body{
	font-family: sans-serif;
	background-color: #f9f9f9f9;
}

.box0{
	position: relative;
	width: 300px;
	height: 370px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.box1{
	width: 260px;
	height: auto;
	padding: 20px;
	border-radius: 5px 5px 0 0;
	background-color: rgb(255,204,83);
	background: linear-gradient(49deg, rgba(255,204,83,1) 0%, rgba(255,115,107,1) 82%);

}

.box2{
	width: 260px;
	height: auto;
	padding: 20px;
}


.backgroundbox{
	width: 260px;
	height: 330px;
	padding: 20px;
}



h1{
	font-size: 1.3rem;
	text-align: center;
	margin: 0;

}



.usesocial{
	margin-top:30px;
	text-align: center;
}
.usesocial>button{
	font-size: 1rem;
	width: 30px;
	height: 20px;
	border:none;
	margin:0 5px;
}

.opacitywhite{
	color: white;
	background-color: rgba(0, 0, 0, 0);
}


input[type="password"],input[type="text"] {
	display: block;
	background-color: #fff;
	border:none;
	border-bottom: 1px grey solid;
	margin: 15px 0;
	padding-bottom: 10px; 
	width: 100%;
}

input:focus {
	outline: none;
	border:none;
	border-bottom: 1px solid #2e89ff;
}



.help{
	font-size: 0.7rem;
	color: #909090;
}

.right{
	text-align: right;
	float: right;
}

.center{
	text-align: center;
}

input[type="submit"]{
	border:none;
	border-radius: 50px;
	float: left;
}



.margintop{
	margin-top: 70px;

}


.margintop50{
	margin-top: 50px;

}


.marginbottom{
	margin-bottom: 30px;
}


.page1login{
	background-color: #3a3a3a;
	padding: 10px 20px;
	color: #fff;

}



input[type="checkbox"]{
	margin: 0 20px 0 0;
	width: 12px;
	height: 12px;
}



.social2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0 0 5px 5px;
	padding: 25px 0;
	background-color: rgb(145,159,186);
}



.pink{
	color: rgb(236,64,122);
}
.pinkbg{
	background-color: rgb(236,64,122);
}
.blue{
	color: rgb(120,181,244);
	text-decoration: none;
}
.black{
	color: rgb(0,0,0);
	text-decoration: none;
}

.button3{
	width: 100%;
	background: rgb(0,166,255);
	background: linear-gradient(90deg, rgba(0,166,255,1) 0%, rgba(0,44,103,1) 100%);
	border-radius: 30px;
	border:none;
	padding: 10px 20px;
}


.soc{
	display: flex;
	margin: 30px 15px;
}

.soc > button{
	color: #00a6ff;
	width: 60px;
	height: 25px;
	justify-content: center;
	border-radius: 30px;
	border: none;
	outline: none;
	margin: 0 auto;
	background-color: rgb(255,255,255);
	box-shadow: 0px 2px 5px 0px rgba(158,158,158,1);
}